*{
    margin: 0px;
    padding: 0px;
}
body {
    /* display: flex; */
    /* flex-direction: column; */

}

header {
    padding: 30px;
    background: blue;
}
nav {
    display: flex;
    background-color: bisque;
}

.project{
    border-style: solid;
    padding: 10px;
    background-color: blueviolet;
    flex: auto;
    width: 300px;
    height: 300px;
    flex: 1 1 30%;
    /* margin: 10px; */
}

.work{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    padding: 30px;
    text-align: end;
    background: blue;
}
.row{
    display: flex;
    /* padding: 10px;
    margin: 50px; */
    justify-content: space-evenly;
    width: 90%;
}
